body{
    background-image: url(backgrounf.png);
    background-size: 100%;
    
}
h1{
    background-color:black;
    color: white;
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    margin-top: 2%;
    font-style: italic;
    font-size: 20px;
    
}
img{
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
}
